@page "/"
@page "/students"
@using Client.Blazor.Models
@using Grpc.Net.Client
@using ProtoBuf.Grpc.Client
@using Shared
@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<div>
    <SearchField OnStudentFound="OnSearchFound" OnStudentNotFound="OnSearchedNotFound" />
</div>

<div class="d-flex justify-content-between align-items-center">
    <Button Type="primary" OnClick="OpenCreatePopup">Add new student</Button>
    <div>
        <Dropdown>
            <Overlay>
                <Menu>
                    <MenuItem OnClick="HandleSortById">
                        <Text>Sort by Id</Text>
                    </MenuItem>
                    <MenuItem OnClick="HandleSortByName">                   
                        <Text>Sort by Name</Text>
                    </MenuItem>
                    <MenuItem OnClick="HandleSortByBirthday">
                        <Text>Sort by Birthday</Text>
                    </MenuItem>
                    <MenuItem OnClick="HandleSortByAddress">
                        <Text>Sort by Address</Text>
                    </MenuItem>
                    <MenuItem OnClick="HandleSortByClassId">
                        <Text>Sort by Class Id</Text>
                    </MenuItem>
                    <MenuItem OnClick="HandleSortByClassName">
                        <Text>Sort by Class Name</Text>
                    </MenuItem>
                </Menu>
            </Overlay>
            <ChildContent>
                <Button>
                    Sort by <Icon Type="caret-down" Theme="outline" />
                </Button>
            </ChildContent>
        </Dropdown>
    
        <Button OnClick="LoadStudentsAsync">Reload Page</Button>
    </div>

</div>
    <Table DataSource="@students"
           RowKey="s => s.Id"
           PageIndex="pageNumber"
           Loading="(students == null)"
           Total="total"
           PageSize="pageSize"
           HidePagination="(total <= pageSize)"
           OnPageIndexChange="HandlePageIndexChange"
           OnPageSizeChange="HandlePageSizeChange">
        <ColumnDefinition Title="Index">
            @{
                int index = students.IndexOf(context) + 1 + ((pageNumber - 1) * pageSize);
            }
            @index
        </ColumnDefinition>
        <PropertyColumn Property="s => s.Id" Title="Id" Sortable />
        <PropertyColumn Property="s => s.FullName" Title="Full Name" Sortable />
        <PropertyColumn Property="s => s.Birthday" Title="Birthday" Format="dd/MM/yyyy" Sortable />
        <PropertyColumn Property="s => s.Address" Title="Address" Sortable />
        <PropertyColumn Property="s => s.ClassId" Title="Class Id" Sortable />
        <PropertyColumn Property="s => s.ClassName" Title="Class Name" Sortable />
        <ActionColumn Title="Action" Class="d-flex justify-content-center align-items-center gap-2">
            <Popconfirm Title="Sure to delete?"
                        OnConfirm="()=> HandleOnDeleteAsync(context.Id)"
                        OkText="Yes"
                        CancelText="No">
                <Button Danger>
                    Delete
                </Button>
            </Popconfirm>

            <Button OnClick="() => OpenUpdatePopup(context)">Update</Button>
            <Button OnClick="() => OpenDetailsPopup(context)">Details</Button>
        </ActionColumn>
    </Table>

@if (isOpenUpdatePopup)
{
    @*     <UpdatePopup IsVisible ="isOpenUpdatePopup" StudentProfile="student" ReloadStudents="LoadStudentsAsync" OnClose="CloseUpdatePopup"/> *@
    <StudentPopup IsVisible="isOpenUpdatePopup" StudentProfile="student" ReloadStudents="LoadStudentsAsync" OnClose="CloseUpdatePopup" Status="Update" />
}
@if (isOpenDetailsPopup)
{
    @* <DetailsPopup IsVisible="isOpenDetailsPopup" Id="studentDetailsId" OnClose="CloseDetailsPopup"/> *@
    <StudentPopup IsVisible="isOpenDetailsPopup" StudentProfile="student" OnClose="CloseDetailsPopup" Status="Details" />
}
@if (isOpenCreatePopup)
{
    @* <CreatePopup IsVisible="isOpenCreatePopup" ReloadStudents="LoadStudentsAsync" OnClose="CloseCreatePopup" /> *@
    <StudentPopup IsVisible="isOpenCreatePopup" ReloadStudents="LoadStudentsAsync" OnClose="CloseCreatePopup" Status="Create" />
}
