@page "/chart"  
@rendermode InteractiveServer
<Tabs>
    <TabPane Key="1">
        <TabTemplate>The statistics of students' ages</TabTemplate>
        <ChildContent>
            <Dropdown Class="px-3" Trigger="@(new Trigger[] { Trigger.Click })">
                <Overlay>
                    <Menu>
                        @if(classes != null)
                        {
                            <MenuItem OnClick="() => LoadStudentAgeClass()">
                                All
                            </MenuItem>
                            @foreach(var clazz in classes)
                            {
                                <MenuItem OnClick="() => LoadStudentAgeClass(clazz.Id)">
                                    @clazz.Name
                                </MenuItem>
                            }
                        }
                    </Menu>
                </Overlay>
                <ChildContent>
                    <Button>Choose class</Button>
                </ChildContent>
            </Dropdown>
            <div class="mt-3 ms-3">
                <p class="fs-6">Number of students</p>
                <AntDesign.Charts.Column @ref="chart1" Data="data1" Config="config1" />
                <p class="text-center fs-6">Age</p>
            </div>
        </ChildContent>
    </TabPane>

    <TabPane Key="2">
        <TabTemplate>Statistics of the number of students in the class</TabTemplate>
        <ChildContent>
            <Pie Data="data2" Config="config2" />
        </ChildContent>
    </TabPane>
</Tabs>