@page "/chart"
@rendermode InteractiveServer
@using AntDesign
@using AntDesign.Charts
@inject NotificationService _notice
<Tabs>
    <TabPane Key="1">
        <TabTemplate>Số tuổi sinh viên 1 lớp</TabTemplate>
        <ChildContent>
            <Pie Data="data1" Config="config1" />
        </ChildContent>
    </TabPane>

    <TabPane Key="2">
        <TabTemplate>Số lượng sinh viên trong lớp</TabTemplate>
        <ChildContent>
            <Pie Data="data2" Config="config2" />
        </ChildContent>
    </TabPane>
</Tabs>

@* @inject IMessageService _message

<Button Type="primary" OnClick="OnClick">
    Display normal message
</Button>

@code {
    private void OnClick()
    {
        Console.WriteLine("onclick");
        _message.Info("This is a normal message");
    }
} *@