@inherits LayoutComponentBase
<Layout Style="min-height: 100vh; ">
    <NavMenu />
    <Layout Class="site-layout">
        <Header Class="d-flex justify-content-center align-items-center bg-white">
            <h1 class="fs-4 text-center">Student Management System</h1>
        </Header>
        <Content>
            @Body
        </Content>
    </Layout>
</Layout>