<Sider Breakpoint="@BreakpointType.Lg"
       CollapsedWidth="64"
       @bind-Collapsed=@collapsed
    >
    <div class="logo" />
    <Menu Theme="MenuTheme.Dark" Mode="MenuMode.Inline">
        <MenuItem Key="1" RouterLink="/">
            <Icon Type="home" Theme="outline" />
            <span>Home</span>
        </MenuItem>
        <MenuItem Key="2" RouterLink="/chart">
            <Icon Type="bar-chart" Theme="outline" />
            <span>Chart</span>
        </MenuItem>
    </Menu>
</Sider>

<style>
    .logo {
        height: 32px;
        background: rgba(255, 255, 255, 0.2);
        margin: 16px;
    }
</style>
